.signUpForm {
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
form {
  width: 100%;
  height: 200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input {
  padding: 4%;
}
